* {
  box-sizing: border-box;
}

body {
  font-family: "Nerko One", sans-serif;
  height: 100vh;
  /* width: 100vw; */
  overflow: hidden;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  touch-action: pan-x pan-y;
}

.nav {
  position: fixed;
  overflow: hidden;
  height: 60px;
  width: 100%;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.nav .menu {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  margin-left: 30px;
}

.nav .title {
  height: 50px;
  width: 150px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(calc(-50% + 20px), -50%);
  font-size: 36px;
  display: inline-block;
  margin: 0;
}

.nav .buttons {
  height: 30px;
  width: 120px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 15px 0 0;
}

.nav .menu-icons {
  height: 30px;
  width: 30px;
  border: none;
  background: none;
  cursor: pointer;
  margin-right: 5px;
  color: #000;
}

.nav i {
  font-size: 24px;
}

.language-selector {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 25vh;
  height: 200px;
  width: 200px;
  background-color: #ddd;
  padding: 20px 40px 0px 40px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: all 0.4s ease;
  z-index: 5;
}

.language-selector h3 {
  width: 100%;
  text-align: center;
  margin-top: 0;
  text-transform: uppercase;
  font-size: 20px;
}

.language-button {
  width: 100%;
  height: 30px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  font-weight: bold;
}

.language-button:active {
  transform: translateY(2px);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.table {
  display: grid;
  grid-template-columns: repeat(5, 50px);
  gap: 5px;
  justify-items: center;
  align-items: center;
  margin: 00px 0 15px 0;
  top: 15vh;
  position: absolute;
  opacity: 0;
  transition: all 0.8s ease-in-out;
}

.warning-container {
  height: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 50px;
}

.win-container {
  height: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 50px;
}

.warning {
  margin-bottom: 10px;
  background-color: black;
  color: #fff;
  height: 35px;
  padding: 10px;
  border-radius: 5px;
  transform: translateX(-5px);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  transition: all 0.4s ease;
  transition-delay: 2s;
}

.win {
  margin-bottom: 10px;
  background-color: black;
  color: #fff;
  height: 35px;
  padding: 10px;
  border-radius: 5px;
  transform: translateX(-5px);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  transition: all 0.4s ease;
  transition-delay: 2s;
}

.square {
  border: 2px solid rgba(0, 0, 0, 0.1);
  width: 50px;
  height: 50px;
  pointer-events: none;
  text-align: center;
  font-size: 36px;
  display: block;
}

.square.animate {
  animation: vibration 0.4s linear;
}

@keyframes vibration {
  0% {
    transform: translateX(-2px);
  }
  16% {
    transform: translateX(5px);
  }
  33% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  66% {
    transform: translateX(-5px);
  }
  83% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(-3px);
  }
}

.square.green.show {
  background-color: #0f990f;
  animation: flip 0.6s linear;
}

.square.yellow.show {
  background-color: #e6bc52;
  animation: flip 0.6s linear;
}

.square.gray.show {
  background-color: gray;
  animation: flip 0.6s linear;
}

@keyframes flip {
  0% {
    transform: rotateX(00deg);
  }
  50% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}

.keyboard {
  position: absolute;
  bottom: 2vh;
  width: 52%;
  display: grid;
  grid-template-columns: repeat(10, 40px);
  gap: 3px;
  row-gap: 5px;
  justify-content: center;
  transform: translateX(-150vw);
  transition: all 0.4s ease-in-out;
}

.keyboard .letters.second {
  margin-left: 23px;
}

.keyboard .letters.third {
  margin-left: 23px;
}

.letters {
  cursor: pointer;
  background-color: #ddd;
  border: none;
  border-radius: 3px;
  height: 50px;
  width: 40px;
  font-weight: bold;
  font-size: 12px;
  transition: all 0.4s ease-in;
  color: #000;
}

.letters:hover {
  background-color: #ccc;
}

.letters:focus {
  outline: none;
}

#enter {
  width: 63px;
  grid-column: 1;
}

#del {
  width: 62px;
}

.keyboard-container {
  position: absolute;
  bottom: 2vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.keyboard-tr {
  margin-left: 40px;
  width: 52%;
  display: grid;
  grid-template-columns: repeat(11, 40px);
  gap: 2px;
  row-gap: 5px;
  justify-content: center;
  transform: translateX(150vw);
  transition: all 0.4s ease-in-out;
}

.keyboard-tr .letters.second {
  margin-left: -20px;
  width: 40px;
  grid-row-start: 2;
  column-gap: 0px;
}

.keyboard-tr .letters.third {
  margin-left: 0px;
}

.keyboard-tr .letters {
  cursor: pointer;
  background-color: #ddd;
  border: none;
  border-radius: 3px;
  height: 50px;
  width: 40px;
  font-weight: bold;
  font-size: 12px;
  transition: all 0.4s ease-in;
  color: #000;
}

.keyboard-tr #enter {
  margin-left: -20px;
  width: 60px;
  grid-column: 1;
}

.keyboard-tr #del {
  width: 62px;
}

@media (max-width: 460px) {
  body {
    touch-action: pan-x pan-y;
  }

  .nav .menu {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-left: 30px;
  }

  .nav .title {
    height: 50px;
    width: 150px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(calc(-50% + 20px), -45%);
    font-size: 32px;
    display: inline-block;
    margin: 0;
  }

  .nav .buttons {
    height: 30px;
    width: 120px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 -5px 0 0;
  }
  .nav .menu-icons {
    height: 30px;
    width: 40px;
    border: none;
    background: none;
    cursor: pointer;
    margin-right: -10px;
  }

  .table {
    display: grid;
    grid-template-columns: repeat(5, 60px);
    gap: 5px;
    justify-items: center;
    align-items: center;
    margin: 00px 0 15px 0;
    top: 12vh;
    position: absolute;
  }

  .square {
    border: 2px solid rgba(0, 0, 0, 0.1);
    width: 60px;
    height: 60px;
    pointer-events: none;
    text-align: center;
    font-size: 36px;
  }

  .keyboard {
    width: 52%;
    display: grid;
    grid-template-columns: repeat(10, 36px);
    gap: 2px;
    row-gap: 5px;
    justify-content: center;
  }

  .keyboard .letters.second {
    margin-left: 18px;
  }

  .letters {
    cursor: pointer;
    background-color: #ddd;
    border: none;
    border-radius: 3px;
    height: 55px;
    width: 36px;
    font-weight: bold;
    font-size: 12px;
    transition: all 0.4s ease-in;
  }

  .letters:hover {
    background-color: #ccc;
  }

  .letters:focus {
    outline: none;
  }

  .keyboard .letters.third {
    margin-left: 18px;
  }

  #enter {
    width: 54px;
    grid-column: 1;
    text-align: center;
  }

  #del {
    width: 54px;
  }

  .keyboard-tr {
    margin-left: 40px;
    width: 52%;
    display: grid;
    grid-template-columns: repeat(11, 36px);
    gap: 2px;
    row-gap: 5px;
    justify-content: center;
    transform: translateX(150vw);
    transition: all 0.4s ease-in-out;
  }

  .keyboard-tr .letters {
    cursor: pointer;
    background-color: #ddd;
    border: none;
    border-radius: 3px;
    height: 55px;
    width: 36px;
    font-weight: bold;
    font-size: 12px;
    transition: all 0.4s ease-in;
    color: #000;
  }

  .keyboard-tr .letters.second {
    margin-left: -20px;
    width: 36px;
    grid-row-start: 2;
    column-gap: 0px;
  }

  .keyboard-tr #enter {
    margin-left: -20px;
    width: 56px;
    grid-column: 1;
  }

  .keyboard-tr #del {
    width: 55px;
  }
}
